@import "tailwindcss";

:root {
	--background: #020205;
	--foreground: #f9fafb;
	--accent: #06b6d4;
	--accent-soft: #164e63;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #020205;
		--foreground: #f9fafb;
	}
}

body {
	min-height: 100vh;
	background: radial-gradient(circle at top left, #1f2937 0, transparent 45%),
		radial-gradient(circle at bottom right, #06b6d422 0, transparent 55%),
		radial-gradient(circle at top right, #0f172a 0, transparent 45%), #020205;
	color: var(--foreground);
}

nextjs-portal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
